<nav>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <ul>
                <li><a href routerLink='/'>Accueil</a></li>
                <li><a href routerLink='/rgpd'>Règle RGPD</a></li>
                <li *ngIf="conne.connecte == false"><a href routerLink='/formulaire'>Inscription</a></li>
                <li *ngIf="conne.connecte == false"><a href routerLink='/connexion'>Connexion</a></li>
                <li *ngIf="conne.role>1 && conne.connecte == true"><a href routerLink='/extranet/admin'>Lister les utilisateurs</a></li>
                <li *ngIf="conne.role==1 && conne.connecte == true"><a href routerLink='extranet/prof'>Lister les étudiants</a></li>
                <li *ngIf="conne.role==1 && conne.connecte == true"><a href routerLink='/extranet/prof/stats'>Afficher les statistiques</a></li>
                <li *ngIf="conne.role==0 && conne.connecte == true"><a href routerLink='/extranet/etudiant/edit/{{conne.userId}}'>Mon Profil</a></li>
                <li *ngIf="conne.connecte == true"><a href routerLink='/connexion'>Déconnexion</a></li>
            </ul>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>