<nav>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <ul>
                <li><a href routerLink='/'>Accueil</a></li>
                <li *ngIf="conne.connecte == false"><a href routerLink='/formulaire'>Formulaire</a></li>
                <li><a href routerLink='/rgpd'>Règle RGPD</a></li>
                <li *ngIf="conne.connecte == false"><a href routerLink='/connexion'>Connexion</a></li>
                <li *ngIf="conne.role>1 && conne.connecte == true"><a href routerLink='/admin'>Liste des utilisateurs</a></li>
                <!-- <li *ngIf="conne.role>0 && conne.connecte == true"><a href routerLink='/prof'>Etudiants de l'option</a></li> -->
                <li *ngIf="conne.role>0 && conne.connecte == true"><a href routerLink='/prof'>Etudiants de l'option</a></li>
                <!-- <li><a href routerLink='/admin'>Liste des utilisateurs</a></li>  -->
                <li *ngIf="conne.role>0 && conne.connecte == true"><a href routerLink='/stats'>Statistiques</a></li>
                <li *ngIf="conne.role==0 && conne.connecte == true"><a href routerLink='/edit'>Profil</a></li>
                <!-- <li><a href routerLink='/edit/{{conne.userId}}'>Profil</a></li> -->
                <li *ngIf="conne.connecte == true"><a href routerLink='/connexion'>Déconnexion</a></li>
            </ul>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>